body {
  margin:  0px;
}

.header {
  background-color: #4d4d4d;
    color: #fff;
    text-align: center;
    position: fixed;
    margin: 0px;
    width: 100%;
    z-index: 1;
    /* height: 44px; */
}

.header ul {
  margin: 0px;
  list-style: none;
  -webkit-padding-start : 0px;
}

.header ul li {
  display: inline-block;
  padding: 10px;
  margin:5px;
}

.header ul li a {
  text-decoration: none;
  color: #fff;
}

.cursor{
  cursor: pointer;
}

.row{
  /*margin-left:-15px;
  margin-right  : -15px;*/
}
.row:before,
.row:after{
  display: table;
  content: " ";
}


.row:after{
  clear: both;
}
.container{

}
.left-part {
  text-align: center;
    /*float: left;
    width: 50%;*/
    height: 100vh;
    position: fixed;
    background-color: #eee;
    vertical-align: middle;
    display: table;
}
.right-part {
  /*float: right;
  width: 50%;*/
  height: 100vh;
  background-color: #ccc;
  vertical-align: middle;
  display: table;
}
.detail-overlay {
  position: fixed;
    right: 0;
    /* min-height: 100%; */
    /* width: 100%; */
    background-color: rgba(0, 0, 0, 0.94);
    top: 0px;
    padding: 60px 10px;
    color: #fff;
    left: 0;
    bottom: 0;
    overflow: auto;
}

.close-detail-view-btn{
  position: absolute;
top: 60px;
right: 20px;
cursor: pointer;
}

.movie-listing {
  padding: 10px;
}

.movie-listing ul{
  list-style: none;
  -webkit-padding-start: 0px;
}
.movie-listing ul li{
  padding: 10px;
  margin:  10px;
  min-height:150px;
  background-color: #fff;
}

.movie-listing .card img {
  width :15%;
  float: left;
  margin-right: 10px;
}


.input-box{
  height: 34px;
min-width: 320px;
padding: 5px 10px;
font-size: 18px;
border: 0;
border-bottom: 1px solid #000;
background-color: transparent;
}
.input-box:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
.btn {
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  padding: 12px ;
  font-size: 18px;
  margin: 10px;
  display : inline-block
}
.btn:hover{
  transition: background-color ease .2s;
  background-color: #000;
  color: #fff;
}


/*Cards*/

.card-wrapper {
	width: 100%;
	/*max-width: 1100px;
	min-width: 800px;*/
	margin: 50px auto;
}

.card-columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}

.card-detail{
  padding: 10px;
margin-top: -4px;
text-align: center;
background-color: #4d4d4d;
color: #fff;
}


.pin {
  width: 100%;
	display: inline-block;
	background: #FEFEFE;
	/*border: 2px solid #FAFAFA;*/
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 0 15px;
	/*-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;

	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;*/
}

.pin:first-child {
  width: 100%;
}

.pin img {
	width: 100%;
	/*border-bottom: 1px solid #ccc;
	padding-bottom: 15px;*/
	/*margin-bottom: 5px;*/
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	/*color: #333;*/
	margin: 0;
}

@media (min-width: 960px) {
	.card-columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	.card-columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

/*.card-columns:hover .pin:not(:hover) {
	opacity: 0.4;
}*/
/*Cards*/

select{
  height: 45px;
      min-width: 100px;
      padding: 5px 10px;
      margin-bottom: 15px;
      border-radius: 0!important;
      background-color: #fff;
      font-size: 18px;
      margin: 0 15px;
      border: 0;
      border-bottom: 1px solid #000;
      background-color: transparent;
  }
  select:focus {
      outline: -webkit-focus-ring-color auto 0px;
  }
